<% layout('/layouts/boilerplate') %>
<%- include('../partials/adminNav.ejs') %>

<div class="container pt-5">
	<div class="row row-cols-1 row-cols-md-3 g-4">
		<% for (menuItem of menu) { %>
		<div class="col">
			<div class="card h-100">
				<img src="<%= menuItem.image ? menuItem.image.url : '' %>" class="card-img-top" alt="<%= menuItem.name %>" />
				<div class="card-body">
					<h5 class="card-title"><%= menuItem.name %> </h5>
					<p class="card-text">
						<%= menuItem.description %> 
					</p>
				</div>
				<div class="card-footer">
					<a href="#" class="btn btn-primary">Edit</a>
          <form class="d-inline" action="/menu?_method=DELETE" method="post">
            <input type="text" name="id" value=<%= menuItem._id %> hidden>
					<button class="btn btn-danger" type="submit">Delete</button>
        </form>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>
