<% layout('/layouts/booking') %>

<link rel="stylesheet" href="css/bookings.css" />

<body>
  <div id="app" class="container">
    <div class="row pt-5">
      <div class="booking-container text-white">
        <h1>Manage Your Bookings</h1>
        <div>
          <b-button class="new-booking" @click="openDrawer()"
            >New Booking</b-button
          >
        </div>
        <ul>
          <% usersBookings.forEach(booking => { if (booking.date > new
          Date()){%>
          <li>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <%= `Booking On ${booking.date.toLocaleString('en-us', {
                  weekday: 'long' })}
                  ${booking.date.getDate()}/${booking.date.getMonth()}/${booking.date.getFullYear()} at ${booking.date.toLocaleTimeString().slice(0,4)} PM`%>
                </h5>
                <p class="card-text">
                  <%=`Booking for ${booking.noGuests} number of guests`%>
                </p>
                <p class="card-text"><%=`Your table is ${booking.table}`%></p>
                <button type="button" class="btn btn-primary" onclick="editBooking('<%= booking._id %>')">
                  Edit
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  onclick="deleteBooking('<%= booking._id %>')"
                >
                  Delete
                </button>
              </div>
            </div>
          </li>
          <% }}) %>
        </ul>

        <!-- sidebar content -->
      </div>
    </div>
    <b-sidebar
      type="is-light"
      :fullheight="true"
      :overlay="true"
      :right="true"
      v-model="open"
    >
      <h1 v-if="isUpdate" class="headingWrapper">Update a booking</h1>
      <h1 v-else class="headingWrapper">Make a booking</h1>
      <div>
        <b-message
          title="Warning"
          type="is-warning"
          aria-close-label="Close message"
          hidden="true"
          id="restrauntClosedWarning"
          size="is-small"
        >
          The we are no longer taking booking for today. You can only make
          booking for future dates.
        </b-message>
      </div>
      <form action="/book" method="POST">
        <div class="headingWrapper">
          <h3>Select a date</h3>
        </div>
        <div class="formItemWrapper" id="date-picker">
          <b-datepicker
            v-model="date"
            inline
            name="date"
            id="date"
            :min-date="minDate"
            @input="dateChange"
            @change-month="monthChange"
            :day-names="dayNames"
          >
          </b-datepicker>
        </div>
        <div class="headingWrapper">
          <h3>Select a time</h3>
        </div>
        <div class="item-wrapper">
          <select
            class="form-select form-select-lg mb-3"
            aria-label=".form-select-lg example"
            name="time"
            id="time"
          >
            <option id="1700" value="1700">5:00pm</option>
            <option id="1730" value="1730">5:30pm</option>
            <option id="1800" value="1800">6:00pm</option>
            <option id="1830" value="1830">6:30pm</option>
            <option id="1900" value="1900">7:00pm</option>
            <option id="1930" value="1830">7:30pm</option>
            <option id="2000" value="2000">8:00pm</option>
            <option id="2030" value="2030">8:30pm</option>
          </select>
        </div>
        <div class="headingWrapper">
          <h3>Number of People</h3>
        </div>
        <div class="item-wrapper">
          <b-field>
            <b-numberinput
              :min="1"
              :max="6"
              v-model="numValue"
              name="number"
              id="number"
            ></b-numberinput>
          </b-field>
        </div>
        <div class="drawer-footer">
          <div class="cancel-button">
            <b-button @click="cancelForm" type="is-danger" expanded
              >Cancel</b-button
            >
          </div>
          <div class="submit-button">
            <b-button v-if="isUpdate" @click="updateForm" type="is-primary" expanded
            >Update</b-button>
            <b-button v-else @click="submitForm" type="is-primary" expanded
              >Book</b-button
            >
          </div>
        </div>
      </form>
    </b-sidebar>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css"
  />

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="js/booking.js"></script>
</body>
